<section id="about-me" class="section-container">
  <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">About Me</h2>
  <p class="text-slate max-w-xl text-lg mb-4" data-aos="fade-up" data-aos-delay="200">
    Hi, I’m Shiv Pratap Singh Chauhan — a tech enthusiast and self-driven Full-Stack Web Developer with a knack for turning ideas into efficient, user-friendly digital solutions.

With a strong base in HTML, CSS, JavaScript, C, C++, and DSA, I’ve built projects that blend clean code with real-world functionality. My backend expertise lies in Node.js and Express.js, and I love building fast, responsive UIs using React.js.

Whether it’s structuring a database with MongoDB or optimizing queries in MySQL, I enjoy solving problems from the ground up. I thrive in both Linux and Windows environments and use tools like Git, GitHub, Postman, and VS Code to bring projects to life and collaborate efficiently.

I believe in continuous learning and clean code. Every line I write brings me closer to building software that’s not just functional — but meaningful.
  </p>
  <p class="text-slate max-w-xl text-lg" data-aos="fade-up" data-aos-delay="200">
   
  </p>
</section>